<%- include ('../index/header') %>

<div class="uk-grid-small uk-animation-slide-bottom-small" uk-grid="masonry: true;">
    <div class="uk-width-3-4@m">
        <div class="uk-card uk-card-default uk-card-body" >
            <h2>매출 현황</h2>
            <div id="sales-card" class="uk-grid-small uk-child-width-1-2" uk-grid>
                <div class="sales" uk-margin>
                    <h4>일간 매출</h4>
                    <h5>500,000원</h5>
                </div>
                <div class="sales" uk-margin>
                    <h4>일간 방문자</h4>
                    <h5>50명</h5>
                </div>
                <div class="sales" uk-margin>
                    <h4>월간 매출</h4>
                    <h5>1,000,000원</h5>
                </div>
                <div class="sales" uk-margin>
                    <h4>월간 방문자</h4>
                    <h5>100명</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../index/footer') %>